<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WEEX_PodFromPath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3481F38A1DDC3D3800FF5623</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3481F3A31DDC3D3800FF5623</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3481F3AE1DDC3D3800FF5623</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
